<md-content>
    <header>
        <acme-navbar creationDate="main.creationDate" />
    </header>
    <div layout="column" layout-align="center center">
        <md-card class='md-pad'>
            <md-card-content>
                <div layout-align='center' layout='row'>
                    <!-- <fb:login-button scope="public_profile,email" ng-click='login.login()'>
                    </fb:login-button> -->
                    <md-button class='md-primary'
                    ng-click='login.login()'>Login</md-button>
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>
